body{
    margin: 0;
    overflow: hidden; 
}
header{
    height: 100vh;
    width: auto;
    background:url("space.png") center no-repeat fixed;
    /* background: linear-gradient(to right, #171727, #1e1b3f, #0f0c29); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@font-face {
    font-family: tungsten;
    src: url(tungsten-medium.woff);
}
/* Begin system*/
#solar-system{
    height: 100%;
    width: 100%;
}
.ring{
    position: absolute;
    border-radius: 50%;
    top:50%;
    left: 75%; 
    background: linear-gradient(to right, rgba(240, 242, 240, 0.1), rgba(0, 12, 64, 0.2));
    transform: translate(-50%, -50%);
    transition: 4s;
    animation: 2s ring-explosion cubic-bezier(0, 0.68, 1,-0.81);
}
@keyframes ring-explosion{
    from{transform:translate(-50%, -50%) scale(0) ;}
    to{transform:translate(-50%, -50%) scale(1);}
}
.ring-1{
    width: 150px;
    height: 150px;
    z-index: 4;
}
.ring-2{ 
    width: 375px;
    height: 375px;
    z-index: 3;
}
.ring-3{ 
    width: 637px;
    height: 637px;
    z-index: 2;
}
.ring-4{ 
    width: 900px;
    height: 900px;
    z-index: 1;
}
.center{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top:50%;
    left: 75%; 
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 5;
    transition: 3s;
}
.planet{
    position: absolute;
    transition: 0.2s;
    width: 25px;
    height: 25px;
    background-color: #f0f2f0;
    z-index: 25;
    border-radius: 50%;
    top: 48.4%;
    left: 74.4%;
}
@keyframes icon-explosion{
    0%{opacity:0;-webkit-transform:scale(0);transform:scale(0);}
    99%{opacity: 0;}
    100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
}
.planet:hover{
    -webkit-animation-play-state: paused !important; 
        -moz-animation-play-state: paused !important; 
        -o-animation-play-state: paused !important;
        animation-play-state: paused !important;
    border: aqua 1.7px solid
}
.planet-orbit-1{
    animation: 15s orbit-ring-1-planet-1 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81);
}
.planet-orbit-2{
    animation: 15s orbit-ring-1-planet-2 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-3{
    transform: rotate(-2deg) translateX(-50px) translateY(-50px);
    animation: 15s orbit-ring-1-planet-3 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-4{
    transform: translateX(187.5px);
    animation: 35s orbit-ring-2-planet-1 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-5{
    transform: translateY(-187.5px);
    animation: 35s orbit-ring-2-planet-2 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-6{
    transform: translateY(187.5px);
    animation: 35s orbit-ring-2-planet-3 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-7{
    transform: translateX(-187.5px);
    animation: 35s orbit-ring-2-planet-4 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-8{
    transform: rotate(-50deg) translateX(318.5px) ;
    animation: 53s orbit-ring-3-planet-1 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-9{
    transform: rotate(-50deg) translateY(-318.5px);
    animation: 53s orbit-ring-3-planet-2 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-10{
    transform: rotate(-50deg) translateY(318.5px);
    animation: 53s orbit-ring-3-planet-3 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-11{
    transform:  rotate(-50deg) translateX(-318.5px);
    animation: 53s orbit-ring-3-planet-4 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-12{
    transform: rotate(-95deg) translateX(450px) ;
    animation: 65s orbit-ring-4-planet-1 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-13{
    transform: rotate(-95deg) translateY(-450px);
    animation: 65s orbit-ring-4-planet-2 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}
.planet-orbit-14{
    transform: rotate(-95deg) translateY(450px);
    animation: 65s orbit-ring-4-planet-3 linear infinite, 2s icon-explosion cubic-bezier(0, 0.68, 1,-0.81); 
}


@keyframes orbit-ring-1-planet-1 {
	from { 	transform: rotate(0deg) translateX(75px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(75px) rotate(-360deg); }
}
@keyframes orbit-ring-1-planet-2 {
	from { 	transform: rotate(0deg) translateY(75px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateY(75px) rotate(-360deg); }
}
@keyframes orbit-ring-1-planet-3 {
	from { 	transform: rotate(0deg) translateX(-50px) translateY(-50px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(-50px) translateY(-50px) rotate(-360deg); }
}
@keyframes orbit-ring-2-planet-1 {
	from { 	transform: rotate(0deg) translateX(187.5px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(187.5px) rotate(-360deg); }
}
@keyframes orbit-ring-2-planet-2 {
	from { 	transform: rotate(0deg) translateY(-187.5px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateY(-187.5px) rotate(-360deg); }
}
@keyframes orbit-ring-2-planet-3 {
	from { 	transform: rotate(0deg) translateY(187.5px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateY(187.5px) rotate(-360deg); }
}
@keyframes orbit-ring-2-planet-4 {
	from { 	transform: rotate(0deg) translateX(-187.5px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(-187.5px) rotate(-360deg); }
}
@keyframes orbit-ring-3-planet-1 {
    from { 	transform: rotate(-50deg) translateX(318.5px) rotate(0deg); }
    to   {  transform: rotate(360deg) translateX(318.5px) rotate(-360deg); }
}
@keyframes orbit-ring-3-planet-2 {
    from { 	transform: rotate(-50deg) translateY(-318.5px) rotate(0deg); }
    to   {  transform: rotate(360deg) translateY(-318.5px) rotate(-360deg); }
}
@keyframes orbit-ring-3-planet-3 {
    from { 	transform: rotate(-50deg) translateY(318.5px) rotate(0deg); }
    to   {  transform: rotate(360deg) translateY(318.5px) rotate(-360deg); }
}
@keyframes orbit-ring-3-planet-4 {
    from { 	transform: rotate(-50deg) translateX(-318.5px) rotate(0deg); }
    to   {  transform: rotate(360deg) translateX(-318.5px) rotate(-360deg); }
}
@keyframes orbit-ring-4-planet-1 {
    from { 	transform: rotate(-95deg) translateX(450px) rotate(0deg); }
    to   {  transform: rotate(360deg) translateX(450px) rotate(-360deg); }
}
@keyframes orbit-ring-4-planet-2 {
    from { 	transform: rotate(-95deg) translateY(-450px) rotate(0deg); }
    to   {  transform: rotate(360deg) translateY(-450px) rotate(-360deg); }
}
@keyframes orbit-ring-4-planet-3 {
    from { 	transform: rotate(-95deg) translateY(450px) rotate(0deg); }
    to   {  transform: rotate(360deg) translateY(450px) rotate(-360deg); }
}
@keyframes orbit-ring-4-planet-4 {
    from { 	transform: rotate(-95deg) translateX(-450px) rotate(0deg); }
    to   {  transform: rotate(360deg) translateX(-450px) rotate(-360deg); }
}
/* End System */

.wrap{
    position: relative;
    padding-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    gap: 2em;
    grid-auto-rows: minmax(500px, auto);
    bottom: 0;
    transition: 1s;
}
.content{
    position: relative;
    grid-column: 1/3;
    grid-row: 1;
}
.title{
    position: absolute;
    top: 50%;
    left:38%;
    text-align: left;
    transform: translate(-50%, -50%)
}
.title h1{
    color: rgb(240, 242, 240);
    font-size: 75px;
    font-family: Tungsten;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.title button{
    padding: 5px 15px 5px 15px;
    border: 2px solid rgb(240, 242, 240);
    background-color: transparent;
    color:  rgb(240, 242, 240); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 25px;
    border-radius: 2%;
    transition: 1s;
    box-shadow: #1e1b3f;
    -webkit-box-shadow: 10px 10px 22px 8px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 22px 8px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 22px 8px rgba(0,0,0,0.56);
    position: relative;
    overflow: hidden;
    
}
.title button::before{
    content: "";
    background-color: white;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 250px;
    transform: translateX(-250px);
    transition: 0.7s;
    position: absolute;
    z-index: -1;
}
.title button:hover{
    color:  #171727;
}
.title button:hover::before{
    transform: translateX(0);
}
.title:focus{
    outline-color: transparent;
}

@media only screen and (max-width: 800px){
    .wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .content{
        grid-column: 3;
        grid-row: 1;
    }
}



/* First Step */

.move_title{
    bottom: 1000px;
}
.override{
    transform: scale(45);
    z-index: 999;
}

/* menu */

#menu{
    position: absolute;
    left: 0%;
    top: 0;
    transition: 2s;

    transform: translateX(-300px)
}
.container ul{
    list-style: none;
    padding-top: 45px;
}
.container li{
    margin: 25px;
    margin-top: 45px;
    color: white;
    font-size: 55px;
    font-family: Tungsten;
    letter-spacing: 10px;
    text-transform: uppercase;
    position: relative;
    transition: 1s;
    
}
.container li:hover{
    color: red;
    cursor: pointer;
}
.appear{
    transform: translateX(0) !important;
}